<h1>Movies</h1>

<ul>
  <% @movies.each do |film| %>
  <li><%= link_to "#{film.title} (#{film.year})", film %></li>
  <% end %>
</ul>

<%= link_to "Add movie", new_movie_path %>
<<<<<<< HEAD
<br>
<%= link_to "Home", site_index_path %>
=======
<br><br>
<%= link_to "Back to home", root_path %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
